@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/aleo-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/aleo-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/aleo-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/aleo-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/aleo-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/aleo-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/magra-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/magra-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(36, 35, 35);
  font-family: 'Aleo';
  color: white;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Magra';
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Magra';
  font-weight: 700;
  font-size: 40px;
}

p {
  line-height: 1.4;
}

.wrapper {
  max-width: 1900px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  font-family: 'Magra';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgba(28, 66, 66, 0.9);
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo-cv {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  left: 40px;
  width: 60px;
  height: 60px;
  transform: rotate(5deg);
}

.logo-name {
  position: relative;
  left: -35px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(-5deg);
  cursor: pointer;
  transition: 1s;
}

.logo-name:hover,
.logo-name:focus {
  transition: 1s;
  scale: 1.2;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.mini-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  animation: spin 0.5s linear 5s;
}

.header-nav {
  display: block;
}

.nav-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 30px;
  transition: 1s;
}

.nav-item:hover,
.nav-item:focus {
  transition: 1s;
  scale: 1.2;
  background-color: rgb(60, 143, 143);
  border-radius: 20%;
  transform: rotate(5deg);
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}

.name {
  font-size: 32px;
  text-transform: uppercase;
  margin: 10px 0;
}

.avatar {
  width: 190px;
  height: 190px;
  min-width: 190px;
  min-height: 190px;
  border-radius: 50%;
  background-image: url(../img/photo.png);
  transition: 0.5s;
}

.avatar:hover,
.avatar:focus {
  background-image: url(../img/photo2.jpg);
  transition: 0.5s;
}

.about-me-support {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.contacts-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts-svg {
  width: 40px;
  margin-right: 5px;
}

.contacts-item-mb0 {
  margin-bottom: 0;
}

.scale {
  transition: 1s;
}

.scale:hover,
.scale:focus {
  transition: 1s;
  opacity: 0.7;
  scale: 1.1;
  transform: rotate(-2deg);
}

.me-text {
  text-align: center;
}

.me-text p::before {
  content: '\2713';
  margin-right: 10px;
}

.separator-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.line {
  width: 100px;
  border: 1px solid rgb(50, 117, 117);
}

.me-text-head {
  margin: 0 5px;
  font-size: 40px;
  font-style: italic;
}

.section-light {
  background-color: rgb(28, 66, 66);
}

.section-left {
  margin-left: 100px;
  padding-bottom: 20px;
}

.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 10px solid rgb(36, 35, 35);
  margin-bottom: 30px;
}

.section-img {
  width: 70px;
  margin-right: 20px;
}

.wolf-cub {
  display: flex;
  flex-direction: row;
}

.paral {
  margin-left: 103px;
  content: '';
  width: 100px;
  height: 70px;
  transform: skew(-30deg);
  background-color: rgb(36, 35, 35);
}

.year-container span {
  font-style: italic;
  font-size: 26px;
  border-bottom: 3px solid rgb(36, 35, 35);
}
.year-container p {
  line-height: 1.8;
  margin: 10px 30px;
  padding: 15px;
  border-left: 3px solid rgb(214, 187, 36);
}

.education-main {
  display: flex;
  flex-direction: row;
}

.education-main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -50px;
}

.rss-logo-big {
  position: relative;
  z-index: 2;
  width: 300px;
  margin-top: 150px;
  transform: rotate(20deg);
  transition: 1s;
}

.rss-logo-big:hover,
.rss-logo-big:focus {
  transition: 1s;
  scale: 1.4;
}

@media (max-width: 900px) {
  .rss-logo-big {
    width: 150px;
  }
  .year-container p {
    line-height: 1.5;
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .rss-logo-big {
    width: 100px;
  }
  .year-container p {
    line-height: 1.3;
    font-size: 16px;
  }
}

.cat-img {
  width: 40%;
  border-radius: 50%;
  transform: rotate(-5deg);
}
#experience-id {
  margin: 80px 0;
}

.header-section-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-bottom: 30px;
  border-top: 8px solid rgb(28, 66, 66);
  border-bottom: 18px solid rgb(28, 66, 66);
}

.experience-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.section-img-right {
  width: 50px;
  margin-left: 20px;
}

.text-shift {
  position: relative;
  right: 90px;
  line-height: 2;
  font-size: 30px;
  border-bottom: 3px solid rgb(28, 66, 66);;
}

.text-before::before {
  content: '\2713';
  margin-right: 10px;
}

.skills-container {
  margin: 30px 0;
}

#shield {
  background: no-repeat center/165% url(../img/svg/shield.svg);
}
#sword {
  background: no-repeat center/170% url(../img/svg/sword.svg);
}
#wizard {
  background: no-repeat center/160% url(../img/svg/wizard.svg);
}
#beer {
  background: no-repeat center/160% url(../img/svg/beer.svg);
}
#warhammer {
  background: no-repeat center/160% url(../img/svg/warhammer.svg);
}


.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.skill-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  margin-bottom: 30px;
}

.skill-img {
  position: relative;
  z-index: 2;
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.exp {
  position: absolute;
  right: 5px;
  bottom: 10px;
  z-index: 2;
  font-size: 16px;
  font-weight: 700;
  transform: rotate(-10deg);
  color: rgb(13, 255, 33);
  text-shadow: rgb(0, 0, 0) 3px 2px;
}

.progress-container {
  margin-top: 15px;
  width: 120px;
  height: 10px;
  border: 2px solid white;
}

.progress-html {
  width: 75%;
  height: 100%;
  background-color: rgb(255, 238, 0);
}
.progress-css {
  width: 60%;
  height: 100%;
  background-color: rgb(255, 238, 0);
}
.progress-js {
  width: 40%;
  height: 100%;
  background-color: rgb(255, 238, 0);
}
.progress-figma {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 238, 0);
}
.progress-vscode {
  width: 60%;
  height: 100%;
  background-color: rgb(255, 238, 0);
}

#projects-id {
  margin: 80px 0;
}

.projects-container {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.project-text {
  font-family: 'Magra';
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 3px solid rgb(28, 66, 66);
  cursor: pointer;
  transition: 1s;
}

.project-text:hover {
  transition: 1s;
  scale: 0.9;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 20px 0 0 60px;
}

.project-img {
  width: 400px;
  height: 200px;
  border-radius: 5%;
  transition: 1s;
}

.project-img:hover {
  transition: 1s;
  scale: 0.9;
}

.code-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.codewars-img {
  width: 40px;
  border-radius: 50%;
}

.code-container {
  width: max-content;
  background-color: rgb(36, 35, 35);
  border-radius: 30px;
  line-height: 1.8;
  font-family: monospace;
  margin-bottom: 20px;
}

@media (max-width: 1050px) {
  .code-container {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .code-container {
    font-size: 16px;
    font-family: none;
    border-radius: 10px;
  }
}

#languages-id {
  margin: 80px 0;
}

.lang-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.lang-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
}

.lang-img {
  width: 150px;
}

.lang-text {
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: 4px solid rgb(28, 66, 66);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(28, 66, 66);
}

.git-container {
  transition: 1s;
}

.git-container:hover {
  transition: 1s;
  scale: 0.8;
}

.git-logo-footer {
  width: 70px;
}

.rss-container {
  transition: 1s;
}

.rss-container:hover {
  transition: 1s;
  scale: 0.9;
}

.rss-logo-footer {
  width: 150px;
}